header.position-fixed.w-100
  .container
    .top-header.d-none.d-sm-flex.justify-content-between.align-items-center
      .contact
        a.tel(href='tel:+1234567890')
          i.fa.fa-phone(aria-hidden='true')
          | +1234567890
        a.mailto(href='mailto:info@globalcareegypt.com')
          i.fa.fa-envelope(aria-hidden='true')
          | info@globalcareegypt.com
      nav.d-flex.aic
        ul.nav.social.d-none.d-md-flex
          li
            a(href='https://www.facebook.com/fh5co' target='_blank')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-twitter
    nav.navbar.navbar-expand-md.navbar-light
      a.navbar-brand(href='index.html')
        img(src="images/main-logo.png")
      .group.d-flex.align-items-center
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='index.html') Home
          li.nav-item
            a.nav-link(href='contactus.html') Contact Us

          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | services
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='Building Maintenance.html') Building Maintenance
              a.dropdown-item(href='Executive Services.html') Executive Services
              .dropdown-divider
              a.dropdown-item(href='Flowers and Plants.html') Flowers and Plants
              a.dropdown-item(href='Staff Outsourcing.html') Staff Outsourcing
              a.dropdown-item(href='Commercial Site Cleaning.html') Commercial Site Cleaning
          

          li.nav-item
            a.nav-link(href='aboutus.html') About Us
          li.nav-item
            a.nav-link(href='q&a.html') Q &amp; A

