// jQuery
script(src='js/jquery-3.3.1.js')
// Plugins
script(src='js/bootstrap.bundle.js')
script(src='js/loaders.css.js')
script(src='js/aos.js')
script(src='js/swiper.min.js')
script(src='js/lightgallery-all.min.js')
// Template Script
script(src='js/main.js')