::-webkit-scrollbar {
    width: 9px;
  }

::-webkit-scrollbar-track {
  background: #394362;
}

::-webkit-scrollbar-thumb {
  background: #87cabb;

  &:hover {
    background: #abe9db;
  }
}

/*-----------------------------------
    1 - Header
------------------------------------*/

.main_color_bg {
  background-color: #87cabb;
} 

.main_color {
  color: #87cabb;
}

.main_color-brder {
  border: 1px solid #87cabb;
}

header {
  background-color: rgb(0, 0, 0);
  color: #fff;
  z-index: 1000;
  transition: all 1s ease-in-out;
}

.contactPage .top-header {
  display: none !important;
  background-color: #000 !important;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #87cabb;
}

.dropdown-item:hover, .dropdown-item:focus{
  background-color: #87cabb;
  color: #fff;
}

header {
  a {
    color: #fff;
  }

  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    bottom: -20px;
  }

  .top-header {
    transition: all 1s ease-in-out;
  }
}

.nav-colored {
  background-color: #000;
}

.nav-transparent {
  background-color: rgb(0, 0, 0);
}

header {
  .nav-link {
    font-family: "Rajdhani", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .nav-item:last-child {
    margin-right: 0;
  }
}

.contact {
  font-size: 12px;
}

.tel {
  margin-right: 30px;
}

.contact {
  i {
    color: #87cabb;
    margin-right: 9px;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }
}

.navbar-brand h1 {
  margin: 0;
}

.social {
  padding-left: 0;
  margin: 0;
  list-style: none;

  li:not(:last-child) {
    margin-right: 20px;
  }

  a {
    font-size: 14px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    background-color: transparent;
    transition: all 0.25s ease-in-out;

    &:hover {
      color: #fff;
      background-color: #87cabb;
    }
  }
}

.navbar-brand img {
  width: 135px;
}

.navbar-collapse .nav-link {
  font-size: 1.125rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #87cabb;
  }
}

/*-----------------------------------
    1 - Hero
------------------------------------*/

.hero {
  background: url("../images/hero-bg.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 0;

  .container {
    position: relative;
    z-index: 5;
  }

  .slide-content {
    min-height: 600px;
    color: #fff;

    span {
      color: #87cabb;
    }

    h1 {
      color: #fff;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.56);
      text-transform: uppercase;
      -webkit-transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
      transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
      font-weight: bold;
    }

    p {
      color: #170936;
      -webkit-transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
      transform: matrix(0.93128, 0, 0, 0.93128, 0, 0);
      padding: 35px 0 35px 30px;
      background-color: rgba(255, 255, 255, 0.51);
      border-top-right-radius: 100px;
      border-bottom-left-radius: 10px;
      margin-bottom: 0;
    }

    .btn {
      margin-top: 50px;

      &:last-child {
        margin-left: 30px;
      }
    }
  }

  .arr-left, .arr-right {
    font-size: 3rem;
    display: block;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 85%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
  }

  .arr-left:hover {
    cursor: pointer;
  }

  .arr-right {
    &:hover {
      cursor: pointer;
    }

    right: 15px;
  }

  .diag-bg {
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background-color: rgba(240, 0, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .texture {
    width: 100%;
    height: 100%;
    background: url("../images/hero-texture.png") no-repeat center;
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.02);
    position: absolute;
    left: 0;
    bottom: 29%;
  }

  &::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.02);
    position: absolute;
    left: 0;
    bottom: 58%;
  }
}

/*-----------------------------------
    1 - CTA
------------------------------------*/

.cta-content {
  padding: 30px 0 90px;
  color: #fff;
  background-color: #ee1515;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(24, 9, 53, 0.77);
    position: absolute;
    top: -25px;
    left: -1px;
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }

  .subscribe-btn {
    align-self: flex-end;
    margin-right: 30px;
  }
}

/*-----------------------------------
    1 - Services
------------------------------------*/

.title {
  font-weight: 700;
  text-transform: uppercase;

  h6 {
    letter-spacing: 4px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 35px;
  }

  .title-blue {
    color: #26264b;
  }

  .title-primary {
    color: #ee1515;
  }
}

.services {
  padding: 80px 0 50px;

  .title {
    margin-bottom: 20px;
  }

  .media {
    margin: 40px 0;
  }

  h5 {
    color: #26264b;
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}

/*-----------------------------------
    1 - Featured
------------------------------------*/

.featured {
  padding: 190px 0;
  background-color: #fafafa;

  p {
    margin: 35px 0 53px;
  }

  .media {
    i {
      font-size: 24px;
      color: #ee1515;
    }

    h5 {
      text-transform: uppercase;
      color: #26264b;
    }
  }

  .btn {
    margin-top: 80px;
  }
}

.featured-img {
  position: relative;
  height: 530px;
  margin-top: 60px;
}

.featured-big {
  position: absolute;
  bottom: 0;
  right: 0;
}

.featured-small {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 25px 0 0;
  background-color: #fff;
}

/*-----------------------------------
    1 - Recent Posts
------------------------------------*/

.recent-posts {
  padding: 65px 0 100px;

  .btn {
    margin-top: 60px;
  }

  .row .col-lg-6 {
    &:nth-of-type(odd) .post-thumb {
      margin-top: 30px;
    }

    &:nth-of-type(even) .post-thumb {
      margin-bottom: 30px;
    }
  }
}

.single-rpost {
  margin: 35px 0 0;
}

.post-thumb {
  flex: 0 0 273px;
}

.post-content {
  color: #ccc;

  time {
    font-size: 14px;
    color: #ccc;
  }

  h3 {
    margin: 10px 0 2px;

    a {
      color: #26264b;
      font-weight: 600;

      &:hover {
        font-weight: 700;
        text-decoration: none;
      }
    }
  }

  a {
    color: #ccc;

    &:hover {
      color: #26264b;
    }
  }

  .post-btn {
    color: #6e6e6e;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 50%;
    background-color: whitesmoke;

    &:hover {
      color: #fff;
      background-color: #ee1515;
    }
  }
}

/*-----------------------------------
    1 - Trust
------------------------------------*/

.trust {
  padding: 75px 0;
  background-color: #26264b;
  color: #ddd;
  position: relative;

  .title {
    margin-bottom: 46px;
  }

  h1 {
    color: #fff;
  }

  h5 {
    font-size: 24px;
    color: #fefefe;
    margin: 28px 0 12px;
  }

  ul {
    color: #fff;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  li {
    margin-bottom: 15px;
  }

  .gallery img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
  }

  .gal-img {
    display: inline-block;
    position: relative;
    z-index: 1;

    i {
      font-size: 72px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      z-index: 2;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      i, &::after {
        opacity: 1;
      }
    }
  }

  .gal-img3 {
    top: -50%;
    left: 50%;
  }
}

/*-----------------------------------
    1 - Pricing Table
------------------------------------*/

.pricing-table {
  padding: 100px 0;
}

.single-pricing {
  padding: 65px 0 40px;
  margin-top: 23px;
  color: #fff;
  background: #26264b;
  border: 0px solid #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s ease-in-out;

  span {
    font-size: 12px;
    text-transform: uppercase;
    padding: 6px 15px;
    border-radius: 15px;
    background-color: transparent;
    position: absolute;
    top: 28px;
    right: 6px;
    transition: all 0.2s ease-in-out;
  }

  h2 {
    margin-bottom: -5px;
  }

  .desc {
    color: #9d9d9d;
    padding-bottom: 30px;
    margin-bottom: 32px;
    border-bottom: 2px solid #2f2f2f;
    transition: all 0.2s ease-in-out;
  }

  .price {
    font-size: 2rem;
    margin-bottom: 8px;
  }

  p {
    color: #ddd;

    &:last-of-type {
      margin-bottom: 25px;
    }
  }

  svg {
    width: 170px;
    position: absolute;
    top: -45px;
    right: -60px;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    border: 4px solid #fff;
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.16);
    margin: 19px 0 -4px;

    span {
      background-color: #26264b;
    }

    .desc {
      color: #fff;
      border-bottom: 2px solid rgba(245, 245, 245, 0.322);
    }

    svg {
      width: 500%;
      top: -200%;
      right: -50%;
    }

    .btn {
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    }
  }
}

/*-----------------------------------
    1 - Testimonials
------------------------------------*/

.testimonial-and-clients {
  background: url(../images/test-clients-bg.png) center (center / cover) no-repeat #ee1515;
}

.testimonials {
  padding: 95px 0 85px;
  color: #fff;
  border-bottom: 1px solid #26264b;

  .test-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;

    img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 90px;
    }
  }

  h5 {
    color: #26264b;
    margin-top: 15px;
  }

  span {
    color: #c4c4c4;
    display: inline-block;
    margin: 0 0 17px;
  }

  p {
    font-size: 17px;
    line-height: 27px;
  }
}

.test-pagination {
  text-align: center;
  margin-top: 8px;

  span {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #26264b;
    margin-bottom: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.swiper-pagination-bullet-active {
      width: 12px;
      height: 12px;
      background-color: white;
    }
  }
}

/*-----------------------------------
    1 - Clients
------------------------------------*/

.clients {
  padding: 70px 0;

  .swiper-wrapper {
    text-align: center;
  }
}

/*-----------------------------------
    1 - CTA 2
------------------------------------*/

.cta2 {
  margin: 50px 0 -30px;
}

/*-----------------------------------
    1 - Footer
------------------------------------*/

footer {
  background: url(../images/footer-bg.png) center (center / cover) no-repeat #26264b;
}

/*-----------------------------------
    1 - Footer Widgets
------------------------------------*/

.footer-widgets {
  padding: 100px 0;

  .col-md-6 .single-widget:not(:first-child) .widget-tiltle {
    margin: 40px 0 30px;
  }
}

.single-widget {
  color: #aaa;

  .widget-tiltle {
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 45px;
    position: relative;
    padding: 10px 0;

    &::after {
      content: "";
      position: absolute;
      height: 3px;
      background-color: #87cabb;
      bottom: 0;
      left: 0;
      width: 7%;
    }
  }

  i {
    color: #87cabb;
  }

  h6 {
    color: #fff;
  }

  .media {
    margin-bottom: 20px;
  }
}

.contact-widget {
  a {
    color: #aaa;
  }

  i {
    font-size: 22px;
  }
}

.twitter-widget {
  i, h6 {
    color: #777;
  }
}

span {
  color: #fff;
}

.recent-post-widget {
  .rcnt-img {
    width: 68px;
    height: 68px;
    border-radius: 4px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  a {
    color: #fff;
  }

  p {
    font-size: 13px;
  }

  i {
    margin-right: 10px;

    &:last-of-type {
      margin-left: 15px;
    }
  }
}

.tags-widget {
  margin: -10px -10px 0 0;

  a {
    color: #aaa;
    display: inline-block;
    padding: 10px 12px;
    border-radius: 2px;
    background-color: #363636;
    font-size: 14px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    margin: 10px 10px 0 0;

    &:hover {
      text-decoration: none;
      color: #26264b;
      background-color: #87cabb;
    }
  }
}

.subscribe-widget {
  form {
    margin-bottom: 10px;
  }

  input {
    font-size: 14px;
    padding: 0px 10px;
    background-color: #444;
    border: none;
    line-height: 0;
    position: relative;
    z-index: 1;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  button {
    background: #ee1515;
    border: none;
    padding: 9px 14px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: -10px;
    position: relative;
    z-index: 5;

    i {
      color: #fff;
    }
  }

  .social-nav {
    margin-top: 32px;

    a {
      display: inline-block;
      text-align: center;
      width: 36px;
      height: 36px;
      line-height: 36px;
      background-color: #fff;
      color: #ddd;
      background-color: #444;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-right: 10px;

      i {
        color: #ddd;
      }

      &:hover {
        background-color: #87cabb;
      }
    }
  }
}

/*-----------------------------------
    1 - Foot Note
------------------------------------*/

.foot-note {
  padding: 35px 0;
  background-color: #000;
  color: #87cabb;

  a {
    color: #87cabb;

    &:last-child {
      margin-left: 30px;
    }

    &.fh5-link {
      margin-left: 0;
    }
  }
}

/* contact page*/

.contactPage {
  .container-contact100 {
    padding-top: 150px;
  }

  .footer-widgets {
    display: none;
  }
}





/*Q&A Page*/
.qapage{
  .qa{
    padding: 200px 0;
    li{
      font-size: 1.2rem;
      font-weight: bolder;
      color: #87cabb;
      p{
        color: #000;
        font-weight: 200;
        font-size: 1rem;
      }
    }
  }
}