
/*-----------------------------------
    1 - CTA
------------------------------------*/

.cta-content {
  padding: 30px 0 90px;
  color: #fff;
  background-color: #ee1515;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(24, 9, 53, 0.77);
    position: absolute;
    top: -25px;
    left: -1px;
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }

  .subscribe-btn {
    align-self: flex-end;
    margin-right: 30px;
  }
}


/*-----------------------------------
    1 - Trust
------------------------------------*/

.trust {
  padding: 75px 0;
  background-color: #26264b;
  color: #ddd;
  position: relative;

  .title {
    margin-bottom: 46px;
  }

  h1 {
    color: #fff;
  }

  h5 {
    font-size: 24px;
    color: #fefefe;
    margin: 28px 0 12px;
  }

  ul {
    color: #fff;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  li {
    margin-bottom: 15px;
  }

  .gallery img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
  }

  .gal-img {
    display: inline-block;
    position: relative;
    z-index: 1;

    i {
      font-size: 72px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      z-index: 2;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      i, &::after {
        opacity: 1;
      }
    }
  }

  .gal-img3 {
    top: -50%;
    left: 50%;
  }
}

/*-----------------------------------
    1 - Pricing Table
------------------------------------*/

.pricing-table {
  padding: 100px 0;
}

.single-pricing {
  padding: 65px 0 40px;
  margin-top: 23px;
  color: #fff;
  background: #26264b;
  border: 0px solid #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s ease-in-out;

  span {
    font-size: 12px;
    text-transform: uppercase;
    padding: 6px 15px;
    border-radius: 15px;
    background-color: transparent;
    position: absolute;
    top: 28px;
    right: 6px;
    transition: all 0.2s ease-in-out;
  }

  h2 {
    margin-bottom: -5px;
  }

  .desc {
    color: #9d9d9d;
    padding-bottom: 30px;
    margin-bottom: 32px;
    border-bottom: 2px solid #2f2f2f;
    transition: all 0.2s ease-in-out;
  }

  .price {
    font-size: 2rem;
    margin-bottom: 8px;
  }
 
  p {
    color: #ddd;

    &:last-of-type {
      margin-bottom: 25px;
    }
  }

  svg {
    width: 170px;
    position: absolute;
    top: -45px;
    right: -60px;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    border: 4px solid #fff;
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.16);
    margin: 19px 0 -4px;

    span {
      background-color: #26264b;
    }

    .desc {
      color: #fff;
      border-bottom: 2px solid rgba(245, 245, 245, 0.322);
    }

    svg {
      width: 500%;
      top: -200%;
      right: -50%;
    }

    .btn {
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    }
  }
}

/*-----------------------------------
    1 - Clients
------------------------------------*/

.clients {
  padding: 70px 0;

  .swiper-wrapper {
    text-align: center;
  }
}

/*-----------------------------------
    1 - CTA 2
------------------------------------*/

.cta2 {
  margin: 50px 0 -30px;
}


/* contact page*/

.contactPage {
  .footer-widgets {
    display: none;
  }
}




