doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    // Document title
    title Global Care - Contact Us
    // Stylesheets & Fonts
    include pug/layout/styles
    // Contact-form Style
    link(rel='stylesheet' href='css/contact-form.css')
    link(rel='stylesheet' href='css/util.css')


  body
    .aboutus.non_home
      // Loader Start
      .css-loader
        .loader-inner.line-scale.d-flex.align-items-center.justify-content-center
      // Loader End

      // Header Start
      include pug/layout/header
      // Header End

      // Trust Start
      include pug/componentes/trust
      // Trust End

      // Testimonial and Clients Start
      include pug/componentes/testimonial
      // Testimonial and Clients End
            
      // Footer Start
      include pug/layout/footer
      // Footer End



    // Start Scripts
    include pug/layout/scripts
    script(src='js/contactForm.js')
    // Scripts End


