doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    // Document title
    title Global Care - Home
    // Stylesheets & Fonts
    include pug/layout/styles
    // Contact-form Style
    link(rel='stylesheet' href='css/contact-form.css')
    link(rel='stylesheet' href='css/util.css')


  body
    .contactPage  
      // Loader Start
      .css-loader
        .loader-inner.line-scale.d-flex.align-items-center.justify-content-center
      // Loader End

      // Header Start
      include pug/layout/header
      // Header End

      //Start Contact Form
      include pug/componentes/contform.pug
      // Contact End

      // Maps Start
      section#contact.contact
        #map
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1726.3064614616846!2d31.321623508579158!3d30.076627895198165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583e39d009f603%3A0xc05cd3ab40d45796!2z2LTYsdmD2Kkg2KfZhNmG2YrZhCDZhNmE2YXYrNmF2LnYp9iqINin2YTYp9iz2KrZh9mE2KfZg9mK2Kk!5e0!3m2!1sar!2seg!4v1601492716534!5m2!1sar!2seg' width='100%' height='500px' frameborder='0' style='border:0' allowfullscreen='')
        // Maps End


        // Footer Start
        include pug/layout/footer
          // Footer Endt


    // Start Scripts
    include pug/layout/scripts
    script(src='js/contactForm.js')
    // Scripts End


