<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Global Care
    include pug/layout/styles
  body
    include pug/layout/nav
    include pug/components/header





    include pug/layout/scripts.pug