
/*-----------------------------------
    1 - Services
------------------------------------*/

.title {
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
  
    h6 {
      letter-spacing: 4px;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 35px;
    }
  }
  
  .services {
    padding: 40px 0 100px;

    a {
      &:hover{
        color: $main_color;
      }
      img {
      width: 100px;
      z-index: 1;
    }
  }
    .title {
      margin-bottom: 20px;
    }
  
    .media {
      margin: 40px 0;
    }
  
    h5 {
      color: #26264b;
      border-bottom: 2px solid #e7e7e7;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
  }
  
  