/*-----------------------------------
    1 - Testimonials
------------------------------------*/

.testimonial-and-clients {
    background: url(../images/test-clients-bg.png) center (center / cover) no-repeat $black;
  }
  
  .testimonials {
    padding: 95px 0 85px;
    color: #fff;
    border-bottom: 1px solid $main_color;

    a{
      color:#000;
    }
  
    .test-img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      margin: 0 auto;
      overflow: hidden;
  
      img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 90px;
      }
    }
  
    h5 {
      color: $main_color;
      margin-top: 15px;
    }
  
    span {
      color: #c4c4c4;
      display: inline-block;
      margin: 0 0 17px;
    }
  
    p {
      font-size: 17px;
      line-height: 27px;
      color: #fff;
    }
  }
  
  .test-pagination {
    text-align: center;
    margin-top: 8px;
  
    span {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #26264b;
      margin-bottom: 0;
      transition: all 0.2s ease-in-out;
  
      &:hover {
        cursor: pointer;
      }
  
      &:not(:last-child) {
        margin-right: 10px;
      }
  
      &.swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background-color: white;
      }
    }
  }
  
  