.container-contact100
  .wrap-contact100
    form.contact100-form.validate-form
      span.contact100-form-title
        | Send Us A Message
      label.label-input100(for='your-name') Tell us your name *
      .wrap-input100.rs1-wrap-input100.validate-input(data-validate='Type your name')
        input#first-name.input100(type='text' name='your-name' placeholder='your name')
        span.focus-input100
      label.label-input100(for='email') Enter your email *
      .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
        input#email.input100(type='text' name='email' placeholder='Eg. example@email.com')
        span.focus-input100
      label.label-input100(for='phone') Enter phone number
      .wrap-input100
        input#phone.input100(type='text' name='phone' placeholder='Eg. +1 800 000000')
        span.focus-input100
      label.label-input100(for='message') Message *
      .wrap-input100.validate-input(data-validate='Message is required')
        textarea#message.input100(name='message' placeholder='Write us a message')
        span.focus-input100
      .container-contact100-form-btn
        button.contact100-form-btn
          | Send Message
    .contact100-more.flex-col-c-m(style="background-image: url('images/bg-01.jpg');")
      .flex-w.size1.p-b-47
        .txt1.p-r-25
          span.lnr.lnr-map-marker
        .flex-col.size2
          span.txt1.p-b-20
            | Address
          span.txt2
            | Mada Center 8th floor, 379 Hudson St, New York, NY 10018 US
      .dis-flex.size1.p-b-47
        .txt1.p-r-25
          span.lnr.lnr-phone-handset
        .flex-col.size2
          span.txt1.p-b-20
            | Lets Talk
          span.txt3
            | +1 800 1236879
      .dis-flex.size1.p-b-47
        .txt1.p-r-25
          span.lnr.lnr-envelope
        .flex-col.size2
          span.txt1.p-b-20
            | General Support
          span.txt3
            | contact@example.com
