section.featured
  .container
    .row
      .col-md-6(data-aos='fade-right' data-aos-delay='400' data-aos-duration='800')
        .title
          h6 about Tamplate
          h1 About Global care.
        p We are here to be the preferred provider of Facilities Management Services for commercial and industrial clients in the region, to become the best employer in the field as well as become the best in class in Safety, Quality and Processes.
        a.btn(href='contactus.html') reserve now
      .col-md-6(data-aos='fade-left' data-aos-delay='400' data-aos-duration='800')
        .featured-img
          img.featured-big(src='images/featured-img1.jpg' alt='Featured 1')
          img.featured-small(src='images/featured-img2.jpg' alt='Featured 2')
