section.featured
  .container
    .row
      .col-md-6(data-aos='fade-right' data-aos-delay='400' data-aos-duration='800')
        .title
          h6 about Tamplate
          h1 a rich featured, epic & premium work.
        p
          | There are many variations of passages of available but the majority have suffered alteration in
          | some form, by injected humour, or randomised words which don't look even slightly believable. If
          | you are going to use a passage of you need to be sure there isn't anything embarrassing hidden
          | in the middle of text. All the generators on the Internet.
        a.btn(href='contactus.html') order now
      .col-md-6(data-aos='fade-left' data-aos-delay='400' data-aos-duration='800')
        .featured-img
          img.featured-big(src='images/featured-img1.jpg' alt='Featured 1')
          img.featured-small(src='images/featured-img2.jpg' alt='Featured 2')
