section.recent-posts
  .container
    .row
      .col-lg-6
        .single-rpost.d-sm-flex.align-items-center(data-aos='fade-right' data-aos-duration='800')
          .post-content.text-sm-right
            time(datetime='2019-04-06T13:53') 15 Oct, 2019
            h3
              a(href='#') Proudly for us to build stylish
            p
              a(href='#') Seanding
              | , 
              a(href='#') Website
              | , 
              a(href='#') E-commerce
            a.post-btn(href='#')
              i.fa.fa-arrow-right
          .post-thumb
            img.img-fluid(src='images/post1.jpg' alt='Post 1')
      .col-lg-6
        .single-rpost.d-sm-flex.align-items-center(data-aos='fade-left' data-aos-duration='800')
          .post-thumb
            img.img-fluid(src='images/post2.jpg' alt='Post 1')
          .post-content
            time(datetime='2019-04-06T13:53') 15 Oct, 2019
            h3
              a(href='#') Remind me to water the plants
            p
              a(href='#') Seanding
              | , 
              a(href='#') Website
              | , 
              a(href='#') E-commerce
            a.post-btn(href='#')
              i.fa.fa-arrow-right
      .col-lg-6
        .single-rpost.d-sm-flex.align-items-center(data-aos='fade-right' data-aos-delay='200' data-aos-duration='800')
          .post-content.text-sm-right
            time(datetime='2019-04-06T13:53') 15 Oct, 2019
            h3
              a(href='#') Add apples to the grocery list
            p
              a(href='#') Seanding
              | , 
              a(href='#') Website
              | , 
              a(href='#') E-commerce
            a.post-btn(href='#')
              i.fa.fa-arrow-right
          .post-thumb
            img.img-fluid(src='images/post3.jpg' alt='Post 1')
      .col-lg-6
        .single-rpost.d-sm-flex.align-items-center(data-aos='fade-left' data-aos-delay='200' data-aos-duration='800')
          .post-thumb
            img.img-fluid(src='images/post4.jpg' alt='Post 1')
          .post-content
            time(datetime='2019-04-06T13:53') 15 Oct, 2019
            h3
              a(href='#') Make it warmer downstairs
            p
              a(href='#') Seanding
              | , 
              a(href='#') Website
              | , 
              a(href='#') E-commerce
            a.post-btn(href='#')
              i.fa.fa-arrow-right
    .text-center
      a.btn.btn-primary(href='#') See More