
      // Services Start
      section.services
        .container
          .title.text-center
            h6 Our Speakers
            h1.title-blue Why Choose Us
          .container
            .row
              .col-sm-6.col-lg-4
                .media(data-aos='fade-up' data-aos-delay='200' data-aos-duration='400')
                  img.mr-4(src='images/service1.png' alt='Web Development')
                  .media-body
                    h5 Web Development
                    |                                 Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
              .col-sm-6.col-lg-4
                .media(data-aos='fade-up' data-aos-delay='400' data-aos-duration='600')
                  img.mr-4(src='images/service2.png' alt='Web Development')
                  .media-body
                    h5 Testing for perfection
                    |                                 Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
              .col-sm-6.col-lg-4
                .media(data-aos='fade-up' data-aos-delay='600' data-aos-duration='800')
                  img.mr-4(src='images/service3.png' alt='Web Development')
                  .media-body
                    h5 Discussion of the idea
                    |                                 Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
              .col-sm-6.col-lg-4
                .media(data-aos='fade-up' data-aos-delay='200' data-aos-duration='400')
                  img.mr-4(src='images/service4.png' alt='Web Development')
                  .media-body
                    h5 Modern style
                    |                                 Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
              .col-sm-6.col-lg-4
                .media(data-aos='fade-up' data-aos-delay='400' data-aos-duration='600')
                  img.mr-4(src='images/service1.png' alt='Web Development')
                  .media-body
                    h5 Web Development
                    |                                 Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
              .col-sm-6.col-lg-4
                .media(data-aos='fade-up' data-aos-delay='600' data-aos-duration='800')
                  img.mr-4(src='images/service5.png' alt='Web Development')
                  .media-body
                    h5 Elaboration of the core
                    |                                 Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.
      // Services End
