// Hero Start
section.hero
.container
    .row
    .col-12.offset-md-1.col-md-11
        .swiper-container.hero-slider
        .swiper-wrapper
            .swiper-slide.slide-content.d-flex.align-items-center
            .single-slide
                h1(data-aos='fade-right' data-aos-delay='200')
                | Creative
                br
                |  Multipurpose websites
                p(data-aos='fade-right' data-aos-delay='600')
                | Crafted by innovative creators for
                | Expecting
                | Peoples’s predefined dummy text
                br
                |  chunks as necessary, making this the first.
                a.btn.btn-primary(data-aos='fade-right' data-aos-delay='900' href='#')
                | See
                | More
                a.btn.btn-primary(data-aos='fade-right' data-aos-delay='900' href='#')
                | Get
                | Now
            .swiper-slide.slide-content.d-flex.align-items-center
            .single-slide
                h1(data-aos='fade-right' data-aos-delay='200')
                | Creative
                br
                |  Multipurpose websites
                p(data-aos='fade-right' data-aos-delay='600')
                | Crafted by innovative creators for
                | Expecting
                | Peoples’s predefined dummy text
                br
                |  chunks as necessary, making this the first.
                a.btn.btn-primary(data-aos='fade-right' data-aos-delay='900' href='#')
                | See
                | More
                a.btn.btn-primary(data-aos='fade-right' data-aos-delay='900' href='#')
                | Get
                | Now
    // Add Control
    span.arr-left
    i.fa.fa-angle-left
    span.arr-right
    i.fa.fa-angle-right
.texture
.diag-bg
// Hero End