section.testimonial-and-clients
  .container
    .clients(data-aos='fade-up' data-aos-delay='200' data-aos-duration='600')
      .swiper-container.clients-slider
        .swiper-wrapper
          .swiper-slide
            img(src='images/pepsi1.png' alt='pepsi1')
          .swiper-slide
            img(src='images/Coca-Cola1.png' alt='Coca-Cola1')
          .swiper-slide
            img(src='images/college1.png' alt='college1')
          .swiper-slide
            img(src='images/lc1.png' alt='lc1')
          .swiper-slide
            img(src='images/client5.png' alt='Client')
        .test-pagination
