section.testimonial-and-clients
  .container
    .testimonials
      .swiper-container.test-slider
        .swiper-wrapper
          .swiper-slide.text-center
            .row
              .offset-lg-1.col-lg-10
                .test-img(data-aos='fade-up' data-aos-delay='0' data-aos-offset='0')
                  img(src='images/test1.png' alt='Testimonial 1')
                h5(data-aos='fade-up' data-aos-delay='200' data-aos-duration='600' data-aos-offset='0') John
                span(data-aos='fade-up' data-aos-delay='400' data-aos-duration='600' data-aos-offset='0')
                  | UI/UX
                  | Designer
                p(data-aos='fade-up' data-aos-delay='600' data-aos-duration='600' data-aos-offset='0')
                  | Ash's tactics &
                  | books have helped me a lot in my understanding on how social
                  | media
                  | advertising works.I can say that he is one of the best development professionals
                  | i have
                  | dealt with so far. His experience is great & he is such a great & pleasant
                  | person to
                  | work with as he understands what you are
          .swiper-slide.text-center
            .row
              .offset-lg-1.col-lg-10
                .test-img(data-aos='fade-up' data-aos-delay='0' data-aos-offset='0')
                  img(src='images/test1.png' alt='Testimonial 1')
                h5(data-aos='fade-up' data-aos-delay='200' data-aos-duration='600' data-aos-offset='0') John
                span(data-aos='fade-up' data-aos-delay='400' data-aos-duration='600' data-aos-offset='0')
                  | UI/UX
                  | Designer
                p(data-aos='fade-up' data-aos-delay='600' data-aos-duration='600' data-aos-offset='0')
                  | Ash's tactics &
                  | books have helped me a lot in my understanding on how social
                  | media
                  | advertising works.I can say that he is one of the best development professionals
                  | i have
                  | dealt with so far. His experience is great & he is such a great & pleasant
                  | person to
                  | work with as he understands what you are
          .swiper-slide.text-center
            .row
              .offset-lg-1.col-lg-10
                .test-img(data-aos='fade-up' data-aos-delay='0' data-aos-offset='0')
                  img(src='images/test1.png' alt='Testimonial 1')
                h5(data-aos='fade-up' data-aos-delay='200' data-aos-duration='600' data-aos-offset='0') John
                span(data-aos='fade-up' data-aos-delay='400' data-aos-duration='600' data-aos-offset='0')
                  | UI/UX
                  | Designer
                p(data-aos='fade-up' data-aos-delay='600' data-aos-duration='600' data-aos-offset='0')
                  | Ash's tactics 
                  | books have helped me a lot in my understanding on how social
                  | media
                  | advertising works.I can say that he is one of the best development professionals
                  | i have
                  | dealt with so far. His experience is great & he is such a great & pleasant
                  | person to
                  | work with as he understands what you are
        .test-pagination
    .clients(data-aos='fade-up' data-aos-delay='200' data-aos-duration='600')
      .swiper-container.clients-slider
        .swiper-wrapper
          .swiper-slide
            img(src='images/pepsi1.png' alt='pepsi1')
          .swiper-slide
            img(src='images/Coca-Cola1.png' alt='Coca-Cola1')
          .swiper-slide
            img(src='images/college1.png' alt='college1')
          .swiper-slide
            img(src='images/lc1.png' alt='lc1')
          .swiper-slide
            img(src='images/client5.png' alt='Client')
        .test-pagination
