section.trust
  .container
    .row
      .offset-xl-1.col-xl-6(data-aos='fade-right' data-aos-delay='200' data-aos-duration='800')
        .title
          h6.title-primary Short history
          h1 about global care.
        p Global Care was established in 2018. We started as a specialized commercial cleaning and maintenance service company. We have successfully implemented varied cleaning applications for a diverse range of situations. 
          | When a client comes to select a specialized facilities service company for their property, Global Care has the experience, resources and dedication. Our services are tailored to meet  the  specialized  needs  of  any  facility  by  offering  a  wide  variety  of  services, utilizing the most effective and up to date products, procedures and equipment.
          | Currently, we offer building maintenance, pest control, landscaping / plant care, labour outsourcing with the same focus on customer care, and professionalism.
      .col-xl-5.gallery
        #lightgallery.row.no-gutters.h-100
          a.w-50.h-100.gal-img(href='https://lorempixel.com/600/400/' data-aos='fade-up' data-aos-delay='200' data-aos-duration='400')
            img.img-fluid(src='images/gallery1.jpg' alt='Gallery Image')
            i.fa.fa-caret-right
          a.w-50.h-50.gal-img(href='https://lorempixel.com/600/400/' data-aos='fade-up' data-aos-delay='400' data-aos-duration='600')
            img.img-fluid(src='images/gallery2.jpg' alt='Gallery Image')
            i.fa.fa-caret-right
          a.w-50.h-50.gal-img.gal-img3(href='https://lorempixel.com/600/400/' data-aos='fade-up' data-aos-delay='0' data-aos-duration='600')
            img.img-fluid(src='images/gallery3.jpg' alt='Gallery Image')
            i.fa.fa-caret-right